body{
	background-color:black;
	background-image:url(intro.png);
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin: 43px auto;
    width: 70%;
}

li{
	display:inline;
	margin-right:20px;
}

.use{
	color:green;
}

footer{
	border-top:3px solid green;
}

.no{
	text-decoration:none;
}
